
.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    /* height: 100vh; */
    /* height: 800px; */
    /* min-height: 900px; */
    
    
    /* background-image: url("/public/images/paper9.webp"); */
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: 110% auto;
}

.aboutme .space {
    height: 10vh;
    width: 100vw;
    /* border: blue 1px solid; */

}

.aboutme .title {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid #5B74A6;
    margin-top: 0px;
    margin-bottom: 80px;
}

.aboutme .details {
    display: flex;
    /* justify-content: center; */
    align-items: center;

    /* border: blue 1px solid; */

}

.aboutme .details img {
    margin-left: 0px;
    margin-right: 75px;
    align-self: center;
    width: 480px;
    /* border-radius: 25px; */
    flex-basis: 25%;
}

.aboutme .details .right {
    /* width: 80%; */
    /* margin-left: 15px;
    margin-right: 30px; */
    justify-content: center;
    align-items: center;
    flex-basis: 48%;
    
}

.aboutme .details .right .text p {
    margin-bottom: 2px;
}

.aboutme .details .right .icons {
    display: flex;
    justify-content: center;
}

.aboutme i {
    font-size: 60px;
    margin: 20px;
    color: #5B74A6;
}

.right .education {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
    width: 100vw;

}

.right .education .careers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0;
    width: 1000px;
    
}

.right .education .careers img {
    border: 2px solid #5B74A6;
    border-radius: 10px;
    max-width: 50px;
    max-height: 50px;
    transition: 0.5s;
    
}

.right .education .careers img:hover {
    box-shadow: 3px 5px 9px 0 #5B74A6;
    transform: scale(1.1);
} 

.inactive {
    display: none;
}



@media (max-width: 1200px) {
    .right .education .careers {
        width: 600px;
    }
}

@media (max-width: 1200px) {
    .aboutme {
        margin-top: 130px;
    }
}

@media (max-width: 1050px) {
    .aboutme .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .aboutme .details img {
        align-self: center;
        margin-right: 0px;
        width: 630px;
        
        
        /* border-radius: 25px;
        flex-basis: 25%; */
    }
    .aboutme .details .right .text {
        padding: 0 10%;
        margin: auto;
        margin-top: 40px;
    }
    .aboutme .details .right .text p {
        margin-bottom: 10px;
    }
   
}

@media (max-width: 900px) {
    .aboutme .details img {
        width: 100%;
    }
}

@media (max-width: 615px) {
    /* .aboutme {
        height: 120vh;
    } */
    .right .education .careers {
        width: 400px;
    }
    .right .education .careers .cambridge {
        font-size: 12px;
    }
    .aboutme .details .right .text {
        padding: 0 10%;
        /* border: red 1px solid; */
    }
}

@media (max-width: 400px) {
    .aboutme .details img {
        width: 100%;
    }
}


@media (max-width: 400px) {
    .aboutme {
        margin-bottom: 30px;
    }
    .right .education .careers {
        width: 320px;
    }
    .right .education .careers .cambridge {
        font-size: 10px;
    }
    
    
}





